In [37]:
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans
from sklearn.svm import SVC

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.ensemble import GradientBoostingClassifier

In [3]:
os.chdir('C:\\Users\\ABC\\6. Datasets')

In [4]:
df1 = pd.read_csv('BankChurn.csv')

In [5]:
df1.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [6]:
df1['Exited'].value_counts()
#1 = YES
#0 = NO

0    7964
1    2038
Name: Exited, dtype: int64

In [7]:
df2 = df1.drop(['RowNumber', 'CustomerId', 'Surname', 'Geography'], axis = 1)
le = LabelEncoder()
df2['Gender'] = le.fit_transform(df2['Gender'])
print(le.classes_) #0 is female

['Female' 'Male']

In [8]:
df2.isnull().sum()

CreditScore        0
Gender             0
Age                1
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          1
IsActiveMember     1
EstimatedSalary    0
Exited             0
dtype: int64

In [9]:
df2['Age'].isnull().value_counts()

df2[df2['Age'].isnull()==True] #found the missing ONE!! YASS!!

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9,684,1,NaN,2,134603.88,1,1.0,1.0,71725.73,0

In [10]:
df2['Age'].fillna(method='ffill', inplace=True)
#help(df2['Age'].fillna)

In [11]:
df2[df2['Age'].isnull()==True]

Empty DataFrame
Columns: [CreditScore, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary, Exited]
Index: []

In [21]:
#df2.fillna(df2['Age'], method='ffill', inplace=True)

In [13]:
df2[df2['HasCrCard'].isnull()==True]

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
4,850,0,43.0,2,125510.82,1,NaN,1.0,79084.1,0

In [14]:
df2['HasCrCard'].fillna('1.0', inplace=True)

In [15]:
df2[df2['HasCrCard'].isnull()==True]

Empty DataFrame
Columns: [CreditScore, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary, Exited]
Index: []

In [16]:
df2[df2['IsActiveMember'].isnull()==True]

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
8,501,1,44.0,4,142051.07,2,0.0,NaN,74940.5,0

In [22]:
df2['IsActiveMember'].fillna('1.0', inplace=True)

In [23]:
df2[df2['IsActiveMember'].isnull()==True]

Empty DataFrame
Columns: [CreditScore, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary, Exited]
Index: []

In [24]:
df2.isnull().sum()

CreditScore        0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [25]:
y = df2.iloc[:, -1]
x = df2.iloc[:, :-1]
x

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,42.0,2,0.00,1,1.0,1.0,101348.88
1,608,0,41.0,1,83807.86,1,0.0,1.0,112542.58
2,502,0,42.0,8,159660.80,3,1.0,0.0,113931.57
3,699,0,39.0,1,0.00,2,0.0,0.0,93826.63
4,850,0,43.0,2,125510.82,1,1.0,1.0,79084.10
...,...,...,...,...,...,...,...,...,...
9997,709,0,36.0,7,0.00,1,0.0,1.0,42085.58
9998,772,1,42.0,3,75075.31,2,1.0,0.0,92888.52
9999,772,1,42.0,3,75075.31,2,1.0,0.0,92888.52
10000,792,0,28.0,4,130142.79,1,1.0,0.0,38190.78
10001,792,0,28.0,4,130142.79,1,1.0,0.0,38190.78

In [26]:
ss = StandardScaler()

In [27]:
x = pd.DataFrame(ss.fit_transform(x), columns=x.columns)

In [28]:
x

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,-0.326465,-1.095967,0.293449,-1.041728,-1.226009,-0.911597,0.646000,0.970443,0.022008
1,-0.440270,-1.095967,0.198086,-1.387530,0.117274,-0.911597,-1.547987,0.970443,0.216663
2,-1.536934,-1.095967,0.293449,1.033084,1.333054,2.527132,0.646000,-1.030458,0.240817
3,0.501205,-1.095967,0.007360,-1.387530,-1.226009,0.807768,-1.547987,-1.030458,-0.108802
4,2.063434,-1.095967,0.388811,-1.041728,0.785694,-0.911597,0.646000,0.970443,-0.365171
...,...,...,...,...,...,...,...,...,...
9997,0.604664,-1.095967,-0.278728,0.687282,-1.226009,-0.911597,-1.547987,0.970443,-1.008565
9998,1.256455,0.912436,0.293449,-0.695926,-0.022693,0.807768,0.646000,-1.030458,-0.125116
9999,1.256455,0.912436,0.293449,-0.695926,-0.022693,0.807768,0.646000,-1.030458,-0.125116
10000,1.463373,-1.095967,-1.041630,-0.350124,0.859935,-0.911597,0.646000,-1.030458,-1.076294
10001,1.463373,-1.095967,-1.041630,-0.350124,0.859935,-0.911597,0.646000,-1.030458,-1.076294

In [29]:
y

0        1
1        0
2        1
3        0
4        0
        ..
9997     1
9998     1
9999     1
10000    0
10001    0
Name: Exited, Length: 10002, dtype: int64

In [30]:
#Logistic Regresion
for i in range(840, 850):
    x_train_lr, x_test_lr, y_train_lr, y_test_lr = train_test_split(x,y,test_size=0.2, random_state=i)
    lg = LogisticRegression()
    model_lr = lg.fit(x_train_lr, y_train_lr)
    y_predict_lr = model_lr.predict(x_test_lr)
    acc_lr = accuracy_score(y_predict_lr, y_test_lr)
    if acc_lr>0.829:
        print(i, acc_lr)

847 0.8290854572713643

In [31]:
#Decision Tree
for j in range(1242,1250):
    x_train_dt, x_test_dt, y_train_dt, y_test_dt = train_test_split(x,y,test_size=0.2, random_state=j)
    dt = DecisionTreeClassifier()
    model_dt = dt.fit(x_train_dt, y_train_dt)
    y_predict_dt = model_dt.predict(x_test_dt)
    acc_dt = accuracy_score(y_test_dt, y_predict_dt)
    if acc_dt > 0.80:
        print(j, acc_dt)

1242 0.8000999500249875

In [32]:
#RandomForest
for k in range(54,60):
    x_train_rf, x_test_rf, y_train_rf,y_test_rf = train_test_split(x,y,test_size=0.2, random_state=k)
    rf = RandomForestClassifier()
    model_rf = rf.fit(x_train_rf, y_train_rf)
    y_predict_rf = model_rf.predict(x_test_rf)
    acc_rf = accuracy_score(y_test_rf, y_predict_rf)
    if acc_rf>0.86:
        print(k, acc_rf)

55 0.8700649675162418

In [33]:
#KNN
import warnings
# Suppress FutureWarnings
warnings.simplefilter(action='ignore', category=FutureWarning)
try: 
    for l in range(278, 285):
        x_train_knn, x_test_knn, y_train_knn, y_test_knn = train_test_split(x,y,test_size=0.2, 
                                                                            random_state=l)
        knn = KNeighborsClassifier()
        model_knn = knn.fit(x_train_knn, y_train_knn)
        y_predict_knn = model_knn.predict(x_test_knn)
        acc_knn = accuracy_score(y_predict_knn, y_test_knn)
        if acc_knn > 0.85:
            print(l, acc_knn)
except ValueError:
    print("Invalid")

279 0.8555722138930535

In [34]:
#Support Vector Machines
for m in range(54,56):
    x_train_svc, x_test_svc, y_train_svc, y_test_svc = train_test_split(x,y,test_size = 0.2,
                                                                        random_state = m)
    svc = SVC()
    model_svc = svc.fit(x_train_svc, y_train_svc)
    y_predict_svc = model_svc.predict(x_test_svc)
    acc_svc = accuracy_score(y_test_svc, y_predict_svc)
    if acc_svc > 0.86:
        print(m, acc_svc)

54 0.8615692153923038
55 0.8700649675162418

In [35]:
#GradientBoostingClassifier
for n in range(54, 56):
    x_train_gb, x_test_gb, y_train_gb, y_test_gb = train_test_split(x,y,test_size = 0.2, 
                                                                    random_state = n)
    gb = GradientBoostingClassifier()
    model_gb = gb.fit(x_train_gb, y_train_gb)
    y_predict_gb = gb.predict(x_test_gb)
    acc_gb = accuracy_score(y_predict_gb, y_test_gb)
    if acc_gb > 0.87:
        print(n, acc_gb)

55 0.8750624687656172

In [39]:
#THIS ONES IT.
#GradientBoostingClassifier_Main
x_train_gb, x_test_gb, y_train_gb, y_test_gb = train_test_split(x,y,test_size = 0.2, 
                                                                random_state = 55)
gb = GradientBoostingClassifier()
model_gb = gb.fit(x_train_gb, y_train_gb)
y_predict_gb = gb.predict(x_test_gb)
acc_gb = accuracy_score(y_predict_gb, y_test_gb)
print(acc_gb)
cv = cross_val_score(gb, x,y,scoring='accuracy', cv=5 )
print(cv)

0.8745627186406797

array([0.86356822, 0.86056972, 0.855     , 0.8705    , 0.8495    ])

In [41]:
import pickle
with open('bankchurn.sav', 'wb') as f1:
    pickle.dump(model_gb, f1)

In [42]:
with open('bankchurn.sav', 'rb') as f2:
    loaded_bankchurn = pickle.load(f2)

In [48]:
x

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,-0.326465,-1.095967,0.293449,-1.041728,-1.226009,-0.911597,0.646000,0.970443,0.022008
1,-0.440270,-1.095967,0.198086,-1.387530,0.117274,-0.911597,-1.547987,0.970443,0.216663
2,-1.536934,-1.095967,0.293449,1.033084,1.333054,2.527132,0.646000,-1.030458,0.240817
3,0.501205,-1.095967,0.007360,-1.387530,-1.226009,0.807768,-1.547987,-1.030458,-0.108802
4,2.063434,-1.095967,0.388811,-1.041728,0.785694,-0.911597,0.646000,0.970443,-0.365171
...,...,...,...,...,...,...,...,...,...
9997,0.604664,-1.095967,-0.278728,0.687282,-1.226009,-0.911597,-1.547987,0.970443,-1.008565
9998,1.256455,0.912436,0.293449,-0.695926,-0.022693,0.807768,0.646000,-1.030458,-0.125116
9999,1.256455,0.912436,0.293449,-0.695926,-0.022693,0.807768,0.646000,-1.030458,-0.125116
10000,1.463373,-1.095967,-1.041630,-0.350124,0.859935,-0.911597,0.646000,-1.030458,-1.076294
10001,1.463373,-1.095967,-1.041630,-0.350124,0.859935,-0.911597,0.646000,-1.030458,-1.076294

In [44]:
loaded_bankchurn.predict_proba([[420, 1, 32, 7, 0, 0, 1.0, 1.0, 100000]])

C:\Users\ABC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GradientBoostingClassifier was fitted with feature names
  warnings.warn(

array([[0.84456162, 0.15543838]])